# Dependencies
node_modules/

# Next.js Build Output
.next/
out/
build/

# Ignore all hidden configuration folders (Hides .idx and .nix silently)
.*
!.gitignore
!.github/

# Local env and logs
.env*
.DS_Store
*.log
